
@{
    ViewBag.Title = "Inventory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 class="heading">Inventory Assignment</h3>
<nav class="navbar navbar-expand-lg navbar-dark bg-info " id="navbarColor02">
    <ul class="nav navbar-nav nav-link navbar-static-top">
        <li>@Html.ActionLink(HttpUtility.HtmlDecode("&nbsp; Inventory Home &nbsp;|"), "Index", "InventoryHome", new { area = "Inventory" }, null)</li>
        <li>@Html.ActionLink(HttpUtility.HtmlDecode("&nbsp; Items &nbsp;|"), "Index", "Items", new { area = "Inventory" }, null)</li>
        <li>@Html.ActionLink(HttpUtility.HtmlDecode("&nbsp; Purchase Orders &nbsp;|"), "Index", "PurchaseOrders", new { area = "Inventory" }, null)</li>
        <li>@Html.ActionLink(HttpUtility.HtmlDecode("&nbsp; Vendors &nbsp;"), "Index", "Vendors", new { area = "Inventory" }, null)</li>
    </ul>
</nav>



<div class="container body-content">
    @RenderBody()
    <hr />
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)

    }

