@model ITP245_Model.Category

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Inventory/Views/Shared/_Inventory.cshtml";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    @Html.HiddenFor(model => model.CategoryId)
    @Html.Partial("_Edit", Model)
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
